.block-wrapper-seat {
  text-align: center;
  margin: 30px 0;
}
.cinema-wrap {
  position: relative;
  display: inline-block;
  width: auto;
  /* background-color: #778079; */
  /* margin-top: 2%; */
  /* margin-top: 50px; 
  margin-bottom: 20px;  */
}
.cinema-title {
  text-align: center;
  width: 50%;
  font-family: futurab;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  display: block;
  background-color: #969696;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  line-height: 42px;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
  margin-left: 25%;
  /* margin-bottom: 20px;  */
  margin-top: 3%;
}
.cinema-wrap-background{
  margin-left: 450px;
  margin-right: 450px;
}
.cinema-seat td.road {
  background-color: #c6c6c6;
  color:white;
  font-family: myriadbold;
  font-weight: 400;
  font-size: 16px;
}

.cinema-seat td.single:hover,
.cinema-seat td.single:focus {
  background: url("/htv/website/images/single-chair.jpg") no-repeat left -46px;
  background-color: #fff;
}
.cinema-seat td.single {
  background: #ededed url("/htv/website/images/single-chair.jpg") no-repeat center top;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.cinema-note li.choosing {
  background: url("/htv/website/images/single-chair.jpg") no-repeat left -46px;
  padding-left: 50px;
}
.cinema-seat .single {
  cursor: pointer;
}

.cinema-seat table td {
  min-width: 43px;
  width: 43px;
  height: 46px;
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
  font-family: futurab;
  font-weight: 400;
  font-size: 11px;
  color: #2d2d30;
  text-transform: uppercase;
}

.cinema-seat table {
  width: auto;
  margin: 0 auto;
}
/* html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
} */
table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}
.cinema-seat {
  background-color: #778079;
  width: auto;
  text-align: center;
  display: none;
  margin-bottom: 50px;
}
.cinema-content {
  position: relative;
  width: 100%;
  height: auto;
  display: none;
  text-align: center;
  background-color: #fff;
}
/* body {
  margin: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  overflow-y: auto;
  background-size: contain;
  -webkit-background-size: contain;
}
html {
  color: -internal-root-color;
} */
.cinema-note li.single {
  background: url("/htv/website/images/single-chair.jpg") no-repeat left top;
  padding-left: 50px;
}
.cinema-note {
  position: relative;
  width: 100%;
  margin: 0 0 30px;
  text-align: center;
}
.cinema-note li {
  display: inline-block;
  line-height: 46px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #434343;
  margin: 0 7px;
}
.cinema-note li.couple {
  background: url("/htv/website/images/couple-chair.jpg") no-repeat left top;
  padding-left: 90px;
}
/* ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
} */
.cinema-content {
  text-align: center;
}
.cinema-note li.road {
  position: relative;
  padding-left: 40px;
}
.cinema-note li.road:before {
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  background: #c6c6c6;
}

.cinema-seat .small_25 table td {
  width: calc(50% - 1px);
  height: 46px !important;
  line-height: 46px;
  float: left;
}
.cinema-seat td.couple {
  cursor: pointer;
  background: #ededed url("/htv/website/images/couple-chair.jpg") no-repeat center top;

  -webkit-transition: all 0.3s ease-in-out;

  transition: all 0.3s ease-in-out;
  width: 86px;
}
.cinema-seat td.couple:hover,
.cinema-seat td.couple:focus {
  background: url("/htv/website/images/couple-chair.jpg") no-repeat left -46px;
  background-color: #fff;
}
.cinema-seat table td {
  min-width: 43px;
  text-align: center;
  vertical-align: middle;
  font-family: futurab;
  font-weight: 400;
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
}

.cinema-seat td.busy {
  background: url("/htv/website/images/picked-chair.jpg") no-repeat left -92px;

  background-color: #fff;
  
}

.cinema-note li.busy {
  background: url("/htv/website/images/picked-chair.jpg") no-repeat left -92px;
  padding-left: 50px;
}
.cinema-note li {
  display: inline-block;
  line-height: 46px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #434343;
  margin: 0 7px;
}
.cinema-btn {
  display: block;
  width: 100%;
  height: auto;
  padding: 30px 0;
  text-align: center;
}


.cinema-seat td.choosing {
    
    background-position-x: center !important;
    background-position-y: -46px !important;
}


/*margin navbar*/
.htv-nav nav {
  padding-left: 10%;
  display: table;
  table-layout: fixed;
  width: 100%;
}


.container-wrap-magin-top{
  margin-top: 2%;
}

.tbl-wrap {
  /* display: block;
  width: 100%; */
  margin-top: 2%;
  margin-bottom: 2px;
}

.ticket-feature article img {
  width: 100%;
  height: auto;
}

.aa{
  position: relative;
  transition: top 0.3s ease-in-out 0s;
  z-index: 2;
  min-height:100%;
}
.btn.primary-arrow.primary-arrow-left:hover{
  /* color: #000408; */
  background-color: #286ffc;
  text-decoration: none;
  color: white;
}

.btn.primary-arrow.primary-arrow-right.right:hover{
/* color: #000408; */
background-color: #286ffc;
text-decoration: none;
color: white;
}