.date__now{
    padding: 0px 0px 0px 60px;
}
#date_now-h5{
    color: #a0a3a7;
    font-size: 13px;
    float: right;
    margin: 37px 0 20px 15px;
}
@media only screen and (max-width: 620px) {
    .date__now{
        padding: 0px;
    }
}
