.ticket-center {
    /* padding: 0 3% 0 3%; */
    width: 100%;
    height: auto;
    margin: 0;
    /* text-align: center; */
    position: relative;
    /* background-color: #DCDCDC; */
}

.ticket-wrap {
    /* margin-top: 100px;   */
    padding: 0 3% 0 3%;  /*padding 5th6*/
    width: 100%;
    height: 100%;
    /* position: fixed;   //ảnh hưởng footer */
    left: 0;
    top: 0;
    z-index: 8000;
    overflow-x: hidden;
    overflow-y: auto;

}

.ticket-details {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0;
    display: block;
    opacity: 0;
    /* margin-top: 50px; 
}

.ticket-history-info {
    /* display: inline-block; */
    vertical-align: top;
    /* // width: 49%; */
    text-align: left;
    padding: 30px;
    margin: 0;
    position: relative;
    /* // margin-left: 40px; */
}

.ticket-history-info h2 {
    text-align: center;
}

.ticket-history-info li {
    padding: 5px 10px;
}

.ticket-btn {
    display: block;
    width: 100%;
    height: auto;
    padding: 30px 0;
    text-align: center;
}

.col-title {
    display: inline-block;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    color: #333;
}

.col-value {
    display: inline-block;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #333;
    margin-left: 10px;
}

.ticket-wrap-infohistory {
    margin-top: 2%;
}

.font-header-ticket-history {
    font: inherit;
    padding: 20px 0px 20px 0px; 
    font-weight: 500;
    position: relative;
    text-decoration: none;
    color: #001aff;
    -webkit-transition: all 0.5s;
    font-size: large;
}

.ticket-header-giave {
    width: 100%;
    padding: 0 10px 0 ;
    margin-bottom: 15px;
}